---
import Header from "../components/Header.astro";
import HeroSection from "../components/HeroSection.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Tesla">
  <main>
    <Header />
    <HeroSection />
    <HeroSection />
    <HeroSection />
  </main>
</Layout>
